flask==3.0.3
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-login==0.6.3
flask-cors==4.0.1
flask-bcrypt==1.0.1
groq==0.9.0
pymupdf==1.24.5
xgboost==2.0.3
scikit-learn==1.5.0
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
joblib==1.4.2
gunicorn==22.0.0
